.priorityContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.priorityContainer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.submitBtnContainer {
  display: flex;
  justify-content: right;
}
