.daysRemainingContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-right: 1.2rem;
  /* background-color: aqua; */
}

.daysRemainingContainer p {
  font-size: 0.8rem;
  font-weight: 500;
}

.timeIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.expiredRemainingContainer {
  display: flex;
  align-items: center;
}

.expiredTimeIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expiredTimeIconContainer p {
  margin-left: 0.5rem;
}

.expiredRemainingContainer p {
  margin-right: 0.5rem;
}

@media (min-width: 1024px) {
  .daysRemainingContainer {
    margin-right: 0.5rem;
    /* background-color: aqua; */
  }

  .timeIconContainer {
    margin-left: 5px;
  }
}
