.cardEditContainer {
  width: auto;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 12px;
  transition: box-shadow 0.2s ease-in-out;
}

.cardEditContainer p {
  text-align: center;
}
.cardEditContainer:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.cardEditContainer:active {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

.cardEditHeader {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */

  padding: 12px 16px;
}

.priorityContainer {
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.btnStatusContainer {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 12px 0;
}

.btnToggleComplete {
  border: 2px solid #007bff;
  color: #007bff;
  background-color: rgb(194, 194, 194);
  cursor: pointer;
  padding: 7px 11px;
}

.cardBtnsContainer {
  display: flex;
  gap: 8px;
  margin: 0.6rem;
  justify-content: space-between;
}

.cardBtnsOrganizeContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0.6rem;
  align-items: center;
  /*   justify-content: space-between;
 */
}

.organizeBodyContainer {
  display: flex;
  gap: 8px;
}

.organizeFooterContainer {
  display: flex;
  gap: 80px;
}

.organizePriorityContainer {
  display: flex;
}
