.appTitleContainer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dfd0b8; /* cornflowerblue */
  /* height: 7vh; */
  height: 50%;
}

.appTitleContainer h1 {
  font-family: quantico;
  font-weight: 600;
  color: #333;
  margin-left: 1rem;
}

.appTitleContainer img {
  width: 35px;
  height: "auto";
  margin-right: 1rem;
}

.childrenContainer {
  font-family: quantico;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem 0;
}

@media (min-width: 1024px) {
  .appTitleContainer {
    height: 70%;
  }
  .childrenContainer {
    flex-direction: row;
    justify-content: center;
    position: relative;
  }
}
