.appTitleContainer {
  display: inline-flex;
  justify-content: space-between;
  text-align: left;
  /* padding: 1rem; */
  background-color: #dfd0b8; /* cornflowerblue */
  border-bottom: 1px solid #ddd;
}

.childrenContainer {
  padding: 0.3rem 0;
}

/* @media (min-width: 1024px) {
  .childrenContainer {
    display: none;
  }
} */
