.appTitleContainer {
  text-align: center;
  /* padding: 1rem; */
  background-color: cornflowerblue;
  border-bottom: 1px solid #ddd;
}

.animationBtn {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 0.8rem;
}

.childrenContainer {
  margin: 0.5rem 0;
}

/* @media (min-width: 1024px) {
  .childrenContainer {
    display: none;
  }
} */
