.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7vh;
  background: #222831;
  backdrop-filter: blur(12px);

  display: flex;
  justify-content: space-around;
  align-items: center;

  /*  border-top: 1px solid #e5e7eb; */
  z-index: 50;
}

.icon {
  width: 24px;
  height: 24px;
  fill: #dfd0b8; /* Dinamic color for SVG icons */
}

.label {
  display: none;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  color: gray;
  text-decoration: none;
}

.active {
  background-color: #f35529;
  color: white;
}

.active .icon {
  fill: white;
  color: #2563eb;
}

@media (min-width: 1024px) {
  .nav {
    top: 0;
    right: auto;

    width: 7rem;
    height: 100vh;

    flex-direction: column;
    justify-content: center;

    border-top: none;
    border-right: 1px solid #e5e7eb;
  }

  .link {
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    font-size: 11px;
  }

  .label {
    display: block;
  }

  .icon {
    width: 28px;
    height: 28px;
  }
}
