:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-bottom: 64px; /* navigation bottom */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #5d5d5d;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  color: #222831;
  text-align: center;
  z-index: 1000;
  background-color: #948979;
  /* height: 4rem; */
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*   height: 100vh; */
  margin: 1rem 0 1rem 0;
  /*   padding: 1rem; */
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

label {
  font-size: 1.2rem;
}

input {
  font-size: x-large;
}

button {
  font-size: 1rem;
}

ol {
  list-style: none;
  width: 95%;
}

.no-scroll {
  overflow: hidden;
}

@media (min-width: 1024px) {
  main {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: baseline;
  }

  aside {
    margin-left: 8rem;
  }

  /* .settingsPage__main {
    flex-direction: column;
    align-items: unset;
  } */
}
