:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-bottom: 64px; /* navigation bottom */
}

/* Global styles for the app
 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;

  /*   create a pattern background using radial-gradient; */
  background-color: #948979;
  background-image: radial-gradient(#5d5d5d 1px, transparent 2px);
  background-size: 3px 3px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
  color: #222831;
  text-align: center;
  z-index: 1000;
  background-color: #948979;
  /* height: 4rem; */
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*   height: 100vh; */
  margin: 1rem 0 1rem 0;
  /*   padding: 1rem; */
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

label {
  font-size: 1.2rem;
}

input {
  font-size: x-large;
}

button {
  font-size: 1rem;
}

ol {
  list-style: none;
  width: 95%;
}

.no-scroll {
  overflow: hidden;
}

@media (min-width: 1024px) {
  body {
    background-size: 4px 4px;
  }

  header {
    height: 6rem;
  }

  main {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  p {
    font-size: 1.125rem;
  }

  label {
    font-size: 1.25rem;
  }

  ol {
    margin-left: 1rem;
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
  }

  li {
    display: flex;
    justify-content: center;
    align-self: start;
  }

  select {
    padding: 10px;
    font-size: 1.125rem;
  }
}
